.fontFamilyGeral{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin: 0 0 90px 0;
}

.divLogo{
    padding-top:8px;
    background-color: aquamarine;
}

.logo{
    width: 120px;
    height: 120px;
    align-self: center;
    border: 5px solid #000;
    border-radius: 68px;
    margin: 30px;
}

.containerLinks{
    display:flex;
    height: 200px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}

.espacamentoP{
    margin: 0 10px !important;
}
.grow1{
    flex-grow: 1;
}

.paddingTopBot{
    padding: 10px 0;
}

.botaoLegal{
    background-color: #e6e4ec;
    border: 2px solid rgb(168, 166, 166);
    border-radius: 5px;
    margin: 5px 0;
}

.login {
    width: 200px;
    align-self: center;
    background-color: blanchedalmond;
}

.titulosH2{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 60px 0;
}

.produtos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 100px;
}

.produto{
    width: 270px;
    border: 8px solid #000;
    background-color: coral;
    margin-top: 10px;
}

.nomeProduto{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.imagemProduto{
    width: 254px;
    height: 200px;
    border: 8px solid rgb(12, 124, 253);
    /* border-left: 8px dotted rgb(12, 124, 253);
    border-right: 8px dotted rgb(12, 124, 253); */
}

.precoProduto{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.textCenter{
    text-align: center;
}



.inlineBlock{
    display: inline-block
}