.fontFamilyGeral{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.divLogo{
    padding-top:8px;
    background-color: aquamarine;
}

.logo{
    width: 120px;
    height: 120px;
    align-self: center;
    border: 5px solid #000;
    border-radius: 68px;
    margin: 30px;
}

.containerLinks{
    display:flex;
    height: 200px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}

.espacamentoP{
    margin: 0 10px !important;
}
.grow1{
    flex-grow: 1;
}

.paddingTopBot{
    padding: 10px 0;
}

a {
    text-decoration: none; 
}

.botaoLegal{
    background-color: #e6e4ec;
    border: 2px solid rgb(168, 166, 166);
    border-radius: 5px;
    margin: 5px 0;
}

.botaoLegal:hover {
    background-color: aliceblue;
    transition: 0.2s;
}

.login {
    width: 200px;
    align-self: center;
    background-color: blanchedalmond;
}

.entreEmContato{
    background-image: linear-gradient( rgb(9, 55, 116), rgb(136, 56, 56));
}

.titulosH2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(155, 74, 209);
    font-style: italic;
    text-decoration: overline underline;
    padding: 50px 0 60px 0;
}

.localizacaoEcontato{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    /* justify-content: space-around; */
    margin: 0 100px;
}

.localizacao{
    width: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.formulario{
    
}

.TitulosDeContato{
    text-decoration: none;
    color: rgb(62, 131, 134);
}

.corpoFormulario{
    background-color: rgb(198, 214, 214);
    padding: 20px;
}

.campoFormularioContato{
    margin: 10px 0 10px 0;
}

.formTitulo{
    font-weight: bold;
    /* text-transform: uppercase; */
    margin: 0 0 16px 0;
}

.formCidade{

}

.legendCidade{
    padding-bottom: 10px;
}

.paraBotaoEnviar{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(243, 130, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 6px;
}

.paraBotaoEnviar:hover{
    transition: 1s all;
    background-color: rgb(243, 73, 11);
    transform: scale(1.2)
}

.textCenter{
    text-align: center;
}

.inlineBlock{
    display: inline-block;
}

.block{
    display: block;
}