/* header nav ul li {
    list-style: none;
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
}
.w33{
    width: 33%;
}
.left{
    float: left;
} */
.download-1{
    width: 50px;
}
.download-2{
    width: 50px;
}
.download-3{
    width: 50px;
}
.d img{
    width: 100%;
}