a{
cursor: pointer;
}
.corpo{
    /* background-color: blueviolet; */
}
.cabecalho{
    background-color: lightgrey;
}
.navegacao{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.logo-barraNav{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.logo{
    /* display: inline-block; */
    flex-basis: 5;
    width: 180px;
}
.logo-imagem{
    width:100%;
}
.barraNav{
    flex-grow: 6;
    width: 700px;
}
.barraNav-imagem{
    width: 100%;
}
.listMenu{
    /* flex-grow: 3; */
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.itensListMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 3.8%; */
}
.menu .favoritos .login-icon .carrinho{
    cursor: pointer;
}
.menu{
    /* flex-grow: 1; */
    cursor: pointer;
    position: relative;
}
.menu_dropDown{
    width:300%;
    position: absolute;
    top:90%;
    z-index: 1;
}
.menu_dropDown .itensMenu {
    background-color: rgb(60, 83, 90);
    color: white;
    text-align: center;
    /* border: 2px solid black; */
    margin: 0;
}
.invisivel{
    display: none;
    z-index: 1;
}
.favoritos{
    /* flex-grow: 1; */
}
.login{
    /* margin: 0px !important; */
    /* flex-grow: 3; */
    display: flex;
}
.tituloForm{
    text-align: center;
    width: 100%;
}
.formulario{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items: center;
}
.camposForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.camposForm p {
    margin:0;
}
.camposForm input{
    flex-grow: 0.8;
}
.login-icon{
    /* flex-grow: 1; */
    width: 100px;
}
.login-icon-imagem{
    width: 100%;
}
.textoLogin{
    /* flex-grow: 3; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}
.textoLogin p{
    margin:0;
}
.carrinho{
    /* flex-grow: 1.2; */
}
.principal, footer{
    margin:0 30px;
}
.carrossel{
    width: 90%;
    margin:50px auto;
}
.carrossel-imagem{
    object-fit: cover;
    object-position: 0 0;
    height: 400px;
}
.imagemC0{
    object-fit: fill;
    object-position: 0 50%;
}
.imagemC1{
    object-position: 0 35%;
}
.imagemC2{
    object-position: 0 37%;
}
.imagemC3{
    /* object-fit: fill; */
    object-position: 0 40%;
}
.linkSetaEsquerda{
    width: 144px;
    margin-left: 5%;
}
.linkSetaDireita{
    width: 144px;
    margin-right: 5%;
}
.flexRow-center{
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto auto 20px;
}
.flexColumn-center{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border: 5px solid rgb(67, 107, 121);
    border-radius: 15%;
    margin:5px 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px #d5d4d3cf;
}
.frete{
    background-color: rgb(16, 183, 212);
}
.compra{
    background-color: rgb(19, 207, 44);
}
.entrega{
    background-color: rgb(221, 201, 21);
}
.categorias{

}
.titulo-categorias{
    color: rgb(150, 38, 60);
    font-weight: bold;
    font-size: 40px;
}
.list-itens-categorias{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-categoria{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.titulo-item-categoria{
    font-weight: bold;
    font-size: 28px;
}
.imagem-item-categoria{

}
.imagem-item-categoria img{
    border-radius: 100%;
    border: 4px solid black; 
    width:235px;
    height: 235px;
}

.volta-topo{
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
}
.chat{
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.Final{
    display: flex;
    justify-content:space-between;
}
.logo{
    width: 160px;
    height: 120px;
}
.formas{
    font-size: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 12, 12);
    font-weight: bold;
}
.paga{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(160, 34, 34);
    font-weight: bold;
}
.Atendimento p{
    margin-bottom: 0;
}
.Atendimento{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Frase-Atendimento{
    display: flex;
    align-items: center;
}
.aten{
    font-size: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 12, 12);
    font-weight: bold;
}
.cliente{
    width: 30px;
}
.tel{
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(160, 34, 34);
    font-weight: bold;
    
}
.dias{
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(160, 34, 34);
    font-weight: bold;
}
.gmail{
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(160, 34, 34);
    font-weight: bold;
    text-decoration: underline;
}
.Alinhamento {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sociais{
    font-size: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(252, 12, 12);
    font-weight: bold;
}
.redes{
    width: 125px;
    height: 55px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media screen and (maxwidth:1000px) {
    
}